#root {
  font-family: "Pangolin", cursive;
  color: antiquewhite;
}
body {
  margin: 0 auto;
  background-color: #212121;
  background-image: url("https://e0.pxfuel.com/wallpapers/276/461/desktop-wallpaper-anime-girl-looking-at-sky-resolution-anime-and-background-clean-anime.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.checkbox {
  color: black;
}
.navbar {
  /* background-image: url("https://e0.pxfuel.com/wallpapers/276/461/desktop-wallpaper-anime-girl-looking-at-sky-resolution-anime-and-background-clean-anime.jpg");
    background-repeat: no-repeat;
    background-size:cover; */
  padding: 0rem;
  margin: 0 auto;
  background-position: top center;
  align-content: space-between;
}

.navbar-brand {
  color: black;
}

.navbar-nav {
  margin-left: auto;
}

.nav-link {
  color: black !important;
}

.container {
  padding: 2rem;
  text-align: center;
}
